.price {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0;
  color: rgb(var(--color-text));
}
.price.price--unavailable {
  visibility: hidden;
}
.unit-price span {
  font-size: 0.8125rem;
}
.price--end {
  justify-content: flex-end;
}
span.price_range span { 
  text-decoration: none !important;
  color: rgb(var(--color-text));
}
.price dl, .price .dl {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.price dd,
.price .dd {
  font-size: 0;
  padding: 0;
}
.price .price__compare {
  margin-right: 8px;
}
.price .dt {
  margin: 0;
  padding: 0;
}
.price-item.price-item--regular {
  font-size: calc(var(--font-body-scale) * 12px);
  color: rgb(var(--color-text));
  font-weight: bold;
}
.card-details__wrapper .price-item.price-item--sale {
  font-size: calc(var(--font-body-scale) * 12px);
  color: rgb(var(--color-text));
  opacity: 0.8;
}
.card-details__wrapper .price {
  margin-top: 6px !important;
  margin-bottom: 0px !important;
}

@media screen and (min-width:750px) {
  .price {
    margin-bottom: 0;
  }
}
.price--large {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-family: var(--font-heading-family);
}
@media screen and (min-width:750px) {
  .price--large {
    font-size: 3.2rem;
  }
}
.price--sold-out .price__availability, .price__regular {
  display: block;
}
.price__sale, .price__availability, .price--on-sale .price__regular, .price--on-sale .price__availability, .price--no-compare .price__compare {
  display: none;
}
.price--on-sale .price__sale {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.price-item.price-item--sale, .price-item.price-item--regular {
  font-weight: bold;
}
.price--center {
  display: flex;
  justify-content: center;
}
.price--on-sale .price-item--regular {
  text-decoration: line-through;
  color: rgb(var(--color-text));
  opacity: 0.8;
  font-weight: normal;
  font-size: calc(var(--font-body-scale) * 10px);
}
.unit-price {
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  line-height: 1.2;
  margin-top: 0.2rem;
  text-transform: uppercase;
  color: var(--color-foreground-70);
}
.unit-price span.dd {
  display: block;
}
.sample-product .price__regular, .sample-product .unit-price {
  display: none !important;
}
.sample-product .price__sale {
  display: flex !important;
}
